<html>
<head>
	<style>
    body{
        background-color: #0090BF;
    }
    button{
        width: 200px;
        height: 40px;
        margin-bottom:10px;
    }
    #msg_box{
    background-color: rgb(237, 237, 237);
    height: 600px;
    width: 80%;
    overflow: auto;
    display: inline-block;
    padding-left: 15px;
    }

    #userlist{
    display: inline-block;
    vertical-align: top;
    width: 17%;
    height:600px;
    background-color:lightgrey;
    padding-left:12px;
    }
	</style>
	<title>Chatroom</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type ="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type ="text/javascript">

$(document).ready(function (){
var socket = io.connect();
var username = window.prompt("Please enter your name");
      while(username == ''){
            username = window.prompt("Name not entered: Please enter your name");
      } 

    $('#send_msg').click(function(){
        if($('#new_txt').val() !== ""){
            socket.emit('new_text', {text: $('#new_txt').val(), name: username})
            $('#new_txt').val('');
        }
    })

    socket.on('get_chat', function(data){
        var getchatlog = data.clog;
        $.each(getchatlog, function(i,val){
            $('#msg_box').append("<p>" + getchatlog[i] + "</p>"); 
        })
    })

    socket.on('update_chat', function(data){
        $('#msg_box').append("<p>" + data.clog[data.clog.length -1] + "</p>");
        $("#msg_box").animate({ scrollTop: $("#msg_box")[0].scrollHeight}, 1000);
        })

    socket.on('update_userlist', function(data){
        var ulist = data.userlist;
        $('#userlist').html("<h4> Users currently in chat:</foh4>");
        $.each(ulist, function(i,val){
            $('#userlist').append("<p>" + ulist[i].name + "</p>"); 
        })

    $("body").keydown(function(event){
        if(event.keyCode == 13){
            $("#send_msg").click();
        }
    });
    })
    
    socket.emit('new_user', {name: username});
})
    </script>
</head>
<body>
<h3>Current Conversation</h3>
<div id='msg_box'>
</div>
<div id='userlist'>
</div>
    <input type='text' id='new_txt' size='100'>
    <button  id='send_msg'>Send</button>
</body>
</html>